.loginPage {
    width: 650px;
    height: 650px;
    position: relative;
    bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgb(41, 65, 184), rgb(41, 24, 82));
    box-shadow: 0 0 8px 4px white;
}

.loginPage {
    animation: grow-shrink 1s ease-in-out infinite alternate;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.008);
    }
}


.loginPage::before {
    left: -50px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: move 2s ease-in-out infinite alternate;
}

.loginPage::after {
    right: -50px;
    bottom: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: move 2s ease-in-out 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(20px, 20px);
    }
}


.userLogin {
    border: 2px solid white;
    width: 400px;
    height: 400px;
}

.userInput {
    width: 300px;
    position: relative;
    top: 80px;
}

.userPassword {
    width: 300px;
    position: relative;
    top: 100px;
}

.userButton {
    position: relative;
    top: 140px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: linear-gradient(to left, rgb(75, 43, 107), rgb(68, 45, 150));
    border-style: none;
    color: white;
    border-radius: 40px;
    box-shadow: 0 0 8px 4px white;
}

.userButton:hover {
    transform: scale(0.960);
}

.userButton {
    position: relative;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    cursor: pointer;
    overflow: hidden;
}

.userButton:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.userButton:hover:before {
    opacity: 1;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.userInput:focus {
    outline: none;
    background: #f8f8f8;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/13/bubble-148553_1280.png");
    background-position: center right 5px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  