.App {
  display: flex;
  text-align: center;
  background: linear-gradient(to top,rgb(56, 23, 104),rgb(13, 0, 255));
  color: white;
  height: 1000px;
  justify-content: center;
}
.contact{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.login{
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.routerPart{
  position: relative;
  top: 400px;
}
.homeLink{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  top: 300px;
  left: 20px;
}
.navbarApp{
  position: fixed;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, rgb(249, 62, 62),rgb(0, 68, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

